{% extends 'base.html' %}

{% block title %}
    乾颐堂图表(CPU终极线性图)
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="{% static 'js/qytang_echarts_functions.js' %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
{% endblock js %}

{% block body %}
    <div class="container-fluid">
        <div class="row py-2">
            <div class="col-lg-12 py-1">
                <div class="card">
                    <div class="card-header">终极线性图AJAX <button onClick="updatapie1();">刷新</button> </div>
                    <div class="card-body">
                        <div id="final_line" style="width:1200px;height:800px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            {# AJAX返回数据 #}
            get_json_render_echart_line_cpu_usage('/charts/ajax/final_line_cpu', "final_line")
        </script>

        {# 手动刷新pie3 #}
        <script type="text/javascript">
            function updatapie1()
            {
                get_json_render_echart_line_cpu_usage('/charts/ajax/final_line_cpu', "final_line");
            }
        </script>
    </div>
{% endblock body %}