{% extends 'base.html' %}

{% block title %}
    乾颐堂图标(echarts)
{% endblock title %}

{% block js %}
    {% load static %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="{% static 'js/qytang_echarts_functions.js' %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
{% endblock js %}

{% block body %}
    <div class="container-fluid">
    <br>
<div class="alert alert-secondary" role="alert">
  <h2 class="alert-heading">乾颐堂图表测试(Echarts)</h2>
  <hr>
  <p class="mb-0">测试结果如下:</p>
</div>

         <div class="row">
            <div class="col-md-6">
                <div class="card" style="height: 500px">
                    <div class="card-header">柱状图表测试(静态数据)</div>
                    <div class="card-body">
                        <div id="chart1" style="width:500px;height:400px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="height: 500px">
                    <div class="card-header">柱状图表测试(Django数据 & AJAX数据) <button onClick="updatachart2();">刷新</button></div>
                    <div class="card-body">
                        <div id="chart2" style="width:500px;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            echarts_bar('chart1',
                        'CPU利用率',
                        ['2021-4-21', '2021-4-22', '2021-4-23', '2021-4-24', '2021-4-25', '2021-4-26'],
                        [1, 20, 30, 10, 42, 66],
                        'red');
            echarts_compound("chart2", "{{ chart2_label }}", {{ chart2_legends|safe }}, {{ chart2_time|safe }}, {{ chart2_data|safe }})
        </script>
{#          手动刷新chart2#}
        <script type="text/javascript">
            function updatachart2()
            {
                ajax_render_echart('/charts/ajax/chart2', "chart2");
            }
        </script>

    </div>
{% endblock body %}
