{% extends 'base.html' %}

{% block title %}
    乾颐堂文件系统
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock head %}

{% block js %}
    {% load static %}
    <script src="{% static "js/jquery.min.js"%}" crossorigin="anonymous"></script>
    <script src="{% static "js/jquery.dataTables.min.js"%}" crossorigin="anonymous"></script>
{% endblock js %}

{% block body %}
    <div class="container-fluid">
        <br><h2 style="color: #666666">上传文件</h2><br>
    {% if successmessage %}
        <span class="message"><div class="alert alert-success" role="alert">{{ successmessage }}</div></span>
    {% endif %}

    {% if warningmessage %}
        <span class="message"><div class="alert alert-warning" role="alert">{{ warningmessage}}</div></span>
    {% endif %}

    {% if errormessage %}
            <span class="message"><div class="alert alert-danger" role="alert">{{ errormessage }}</div></span>
    {% endif %}
    {# 创建显示学员信息的Table,注意id="QYT_Table", 后续DataTable JavaScript就对这个ID的Table进行渲染优化 #}
    <table class="table table-bordered" id="QYT_Table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">文件名</th>
          <th scope="col">上传时间</th>
          <th scope="col" width="100">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files_list %}
        <tr>
          {# 通过forloop.counter来显示行号,请注意这个不是设备唯一ID #}
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ file.file_raw_name }}</td>
          <td>{{ file.upload_datetime | date:'Y-m-d H:i' }}</td>
          {# 添加删除和编辑按钮 #}
          {# href嵌入传入的删除和编辑的超链接 #}
          {# onclick="return confirmAct() 用于在删除对象之前显示确认删除的警告信息 #}
          {# data-toggle="tooltip" data-placement="top" title="删除此设备信息" 用于显示按钮的提示信息 #}
          {# class="badge badge-danger" class="badge badge-success" bootstrap渲染按钮的类型 #}
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="{{ file.download_url }}" data-toggle="tooltip" data-placement="top" title="下载此文件"><i class="fas fa-download"></i></a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="{{ file.delete_url }}" onclick="return confirmAct();" data-toggle="tooltip" data-placement="top" title="删除此文件"><i class="fas fa-trash-alt" style="color: indianred"></i></a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

    {# DataTable渲染显示设备信息的Table #}
    {# 需要加载如下的CSS和JS #}
    {# <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> #}
    {# <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> #}

    <script>
    $(document).ready( function () {
        $('#QYT_Table').DataTable();
    } );
    </script>
    {# DataTable中点击任何一个条目变深色,表示被选中功能的JavaScript #}
    <script>
    $(document).ready(function() {
        var table = $('#QYT_Table').DataTable();

        $('#QYT_Table tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );

        $('#button').click( function () {
            table.row('.selected').remove().draw( false );
        } );
    } );
    </script>
    {# 提示删除确认警告的JavaScript #}
    <script type="text/javascript" language="javascript">

    function confirmAct()
    {
        if(confirm('确定要执行此删除操作吗?'))
        {
            return true;
        }
        return false;
    }

    </script>
{% endblock body %}